.container {

    width: 90%;
    margin: auto;
    text-align: center;
}

.button1 {
    border: 1px solid yellow;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    width: 50%;
    height: 50px;
    font-size: 30px;

}

.button3 {
    border: 1px solid red;
    background-color: white;
    color: black;
    width: 60%;
    height: 50px;
    font-size: 30px;

}

h1 {
    background-color: red;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 30px;
}

.button2 {
    background-color: red;
    color: white;
    padding: 10px;
    width: 60%;
    height: 50px;
    margin: 20px;
    border: none;
    font-size: 30px;
}

.img img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

footer {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 40px;
    margin: 20px;
    width: 95%;
}

h1:hover {
    background-color: aqua;
    transform: translate3d(10px, -3px, 0);
    transition-duration: 1s;
}

footer:hover {

    background-color: aqua;
    transform: translate3d(10px, -3px, 0);
    transition-duration: 1s;
}

.button1:hover {
    background-color: aqua;
    transform: translate3d(10px, -3px, 0);
    transition-duration: 1s;
}

.button2:hover {
    background-color: aqua;
    transform: translate3d(10px, -3px, 0);
    transition-duration: 1s;
}

.button3:hover {
    background-color: aqua;
    transform: translate3d(10px, -3px, 0);
    transition-duration: 1s;
}

a {

    margin: 10px;
    padding: 10px;
    height: 5px;
    text-align: center;
    text-decoration: none;
    border-bottom-style: dashed;
}